/* General background color for the whole screen */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Center the form and apply background and padding */
.add-vehicle-form {
    background-color: #f0f0f0; /* Ash background color */
    padding: 20px;
    width: 30%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Center the title */
.add-vehicle-form h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style for the labels */
.add-vehicle-form label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

/* Input field styles */
.add-vehicle-form input[type="text"],
.add-vehicle-form input[type="number"] ,
.add-vehicle-form select{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Submit button style */
.add-vehicle-form button {
    width: 100%;
    padding: 10px;
    background-color: #0f306b; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-vehicle-form button:hover {
    background-color: #16469c; 
}

.add-vehicle-form select {
    cursor: pointer;
    background-color: #fff;
}

/* Adding a hover effect to input fields and dropdowns */
.add-vehicle-form input:hover, .add-vehicle-form select:hover {
    border-color: #007BFF; /* Blue border on hover */
}

/* Focus styling for inputs and dropdowns */
.add-vehicle-form input:focus, .add-vehicle-form select:focus {
    border-color: #0056b3; /* Dark blue border when focused */
    outline: none;
}
